body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  gap: 1rem;
  padding: 15px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}

form {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 0.3rem
}

button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

a {
  color: inherit;
  font-style: italic;
}

.container {
  padding: 15px;
}

input, textarea {
  background-color: rgba(1, 1, 1, 0.1);
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
}